@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Cascadia Code";
  src: url("fonts/Cascadia.ttf");
}

* {
  font-family: 'Cascadia Code' , sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("/assets/windows-11-windows-10-minimalism-hd-wallpaper-c876bde870303c5820cce16ed8a244ca.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.window {
  max-width: 1000px;
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  margin: 7%;
  border: 1px solid #3a3a3b;
}

.window .window_header {
  background-color: #333;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window .window_header .tab {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  letter-spacing: 0.3px;
  background-color: #0c0c0c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 240px;
  color: #fff;
  left: 9px;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 8.5px;
  border-top-right-radius: 8.5px;
  font-weight: 500;
}

.window .window_header .tab span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.window .window_header .tab i {
  padding: 5px 8px;
  border-radius: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 9px;
}

.window .window_header .tab i:hover {
  background-color: #1a1a1a;
}

.window .window_header .tab i svg {
  width: 14px;
  height: 14px;
}

.window .window_header .tab i svg path {
  fill: #fff;
}

.window .window_header .action_buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  height: 100%;
}

.window .window_header .action_buttons .action_btn {
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.window .window_header .action_buttons .action_btn:hover {
  background-color: #3f3f3f;
}

.window .window_header .action_buttons .action_btn .line {
  width: 10px;
  height: 1px;
  background-color: #fff;
}

.window .window_header .action_buttons .action_btn .box {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
}

.window .window_header .action_buttons .action_btn.times:hover {
  background-color: #c42b1c;
}

.window .window_header .action_buttons .action_btn.times svg {
  width: 16px;
  height: 16px;
}

.window .window_header .action_buttons .action_btn.times svg path {
  fill: #fff;
}

.window #app {
  background-color: #0c0c0c;
  font-size: 15px;
  color: #ccc;
  padding: 9px;
  height: 600px;
  overflow-y: scroll;
}

.window #app::-webkit-scrollbar {
  width: 10px;
}

.window #app::-webkit-scrollbar-track {
  width: 10px;
  background-color: #2c2c2c;
}

.window #app::-webkit-scrollbar-track:hover {
  background: #2c2c2c;
}

.window #app::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 4px;
}

.window #app .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window #app input {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 15px;
}

.terminal {
  padding: 0;
  background-color: #0c0c0c;
}

@media screen and (max-width: 1000px) {
  .window {
    width: 90% !important;
    margin: 5% auto;
  }
}

@media screen and (max-width: 500px) {
  .window {
    width: 90% !important;
    margin: 5% auto;
  }
  .window .window_header .tab {
    width: 175px;
  }
}
/*# sourceMappingURL=style.css.map */